{% include 'incl/header.html' %}

<h1 class="title">{{title}}</h1>

<ul>
    <li>
        <a href="https://github.com/{{org.id}}">{{org.name}}</a>
        {% if org.org_name %}
        ( {{org.org_name}} )
        {% endif %}
    </li>

    {% if org.city %}
    <li>{{org.city}}</li>
    {% endif %}

    {% if org.state %}
    <li>{{org.state}}</li>
    {% endif %}

    {% if org.country %}
    <li>{{org.country}}</li>
    {% endif %}


    {% if org.github %}
        <img width="60px" src="{{ org.github.avatar_url}}">
        <div>
        {{ org.github.description }}
        <br>
        {{ org.github.name }}

        {% if org.github.blog %}
            <a href="{{ org.github.blog }}">blog</a>
        {% endif %}

        </div>
    {% endif %}
</ul>

{% include 'incl/footer.html' %}
