{% include 'incl/header.html' %}

<h1 class="title">{{title}}</h1>

<ul>
    <li>
        <a href="https://github.com/{{org.id}}">{{org.name}}</a>
        {% if org.org_name %}
        ( {{org.org_name}} )
        {% endif %}
    </li>

    {% if org.city %}
    <li>{{org.city}}</li>
    {% endif %}

    {% if org.state %}
    <li>{{org.state}}</li>
    {% endif %}

    {% if org.country %}
    <li>{{org.country}}</li>
    {% endif %}


    {% if org.github %}
        <img width="60px" src="{{ org.github.avatar_url}}">
        <div>
        {{ org.github.description }}
        <br>
        {{ org.github.name }}

        {% if org.github.blog %}
            <a href="{{ org.github.blog }}">blog</a>
        {% endif %}
        <br>
        Public Repos: {{ org.github.public_repos }}<br>
        Listed Repos: {{ org.github.repos | length }}<br>
        Followers: {{ org.github.followers }}<br>
        Created: {{ org.github.created_at }}<br>
        Updated: {{ org.github.updated_at }}<br>

        </div>
    {% endif %}
</ul>

{% if org.github %}
<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fork</th>
      <th>Pushed</th>
      <th>Forks</th>
      <th><abbr title="Issues and Pull Requests">Open</abbr></th>
      <th>Stars</th>
      <th>Watches</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Fork</th>
      <th>Pushed</th>
      <th>Forks</th>
      <th><abbr title="Issues and Pull Requests">Open</abbr></th>
      <th>Stars</th>
      <th>Watches</th>
    </tr>
  </tfoot>
  <tbody>
    {% for row in org.github.repos %}
    <tr>
      <th><a href="{{ row.html_url }}">{{ row.name }}</a></th>
      <td>{{ row.fork }}</td>
      <td>{{ row.pushed_at }}</td>
      <td>{{ row.forks_count }}</td>
      <td>{{ row.open_issues_count }}</td>
      <td>{{ row.stargazers_count }}</td>
      <td>{{ row.watchers_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% include 'incl/footer.html' %}
