{% include 'incl/header.html' %}

<h1 class="title">{{title}}</h1>

<table class="table is-centered is-narrow">
    <thead>
        <tr>
            <th>Organization Types</th>
            <th>Number of Organizations</th>
        </tr>
    </thead>
    <tbody>
        {% for org_type, display_name in org_types.items() %}
            <tr>
                <td><a href="/open-source-by-organizations/{{org_type}}">{{ display_name }}</a></td>
                <td>{{ stats.by_type[org_type] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>This site is being developed by the participants of the <a href="/">course</a>.</p>

{% include 'incl/footer.html' %}
