{% include 'incl/header.html' %}

<h1 class="title">{{title}}</h1>

<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Repos</th>
    </tr>
  </thead>
  <tbody>
    {% for org in github_organisations %}
      <tr>
        <th><a href="github/{{org.id.lower()}}">{{org.name}}</a> {% if org.org_name %}( {{org.org_name}} ){% endif %}</th>
        {% if org.github %}
        <td>{{ org.github.repos | length }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'incl/footer.html' %}
