<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
     OSDC
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/open-source/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Organisation Types
        </a>

        <div class="navbar-dropdown">
          {% for org_type in org_types %}
          <a class="navbar-item" href="/{{org_type}}">
            {{ org_type }}
          </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</nav>


